<div class="wrapper">
  <!-- Header -->
  <nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="container-fluid">
      <!-- Sandwich menu -->
      <button class="navbar-toggler" type="button" aria-controls="navbarExample01" aria-expanded="false"
        aria-label="Toggle navigation" (click)="menuVisible = !menuVisible">
        <i class="fas fa-bars text-light" [ngClass]="{'text-muted': changeColorSandwich}"
          (mouseenter)="changeColorSandwich=true" (mouseleave)="changeColorSandwich=false"></i>
      </button>
      <!-- Navbar -->
      <div class="navbar-collapse" [ngClass]="{'collapse': !menuVisible}" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active ">
            <a class="nav-link text-light" [ngClass]="{'text-muted': changeColorHome}" aria-current="page" href="/"
              (mouseenter)="changeColorHome=true" (mouseleave)="changeColorHome=false"><i
                class="fas fa-solid fa-home"></i><span class="menu-item hidden">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [ngClass]="{'text-muted': changeColorUsers}" href="/"
              (mouseenter)="changeColorUsers=true" (mouseleave)="changeColorUsers=false"><i
                class="fas fa-solid fa-users"></i><span class="menu-item hidden">
                Users</span></a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" [ngClass]="{'text-muted': changeColorLanguages}"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false"
              (click)="dropdownVisible = !dropdownVisible" (clickOutside)="dropdownVisible = false"
              (mouseenter)="changeColorLanguages=true" (mouseleave)="changeColorLanguages=false"><i
                class="fas fa-solid fa-language"></i><span class="menu-item hidden">
                {{ 'HOME.LANGUAGE' | translate }}
              </span></a>
            <ul class="dropdown-menu" [ngClass]="{'dropdownHide': !dropdownVisible}"
              aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let language of languages">
                <a id="{{language}}" class="dropdown-item" (click)="changeLanguage(language)">
                  {{'button.lang.' + language | translate}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main -->
  <div class="main">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>

    <div> <span>{{ 'HOME.INPUT' | translate }}</span> <input type="text" (change)="onChange($event)"></div>
    <p>{{ 'HOME.SUBTITLE' | translate: {name: title} }}</p>
  </div>

  <!-- Footer -->
  <footer class="bg-light text-center text-lg-start footer">
    <div class="items">
      <!-- Telegram -->
      <div class="text-center p-3">
        <a class="icon-telegram1" href="https://telegram.org/"></a><span class="footer_text"> Telegram: </span>
        <a class="text-dark footer_link" href="https://telegram.org/"> https://telegram.org/</a>
      </div>
      <!-- Linkedin -->
      <div class="text-center p-3">
        <a class="icon-linkedin" href="https://linkedin.com/"></a><span class="footer_text"> Linkedin: </span>
        <a class="text-dark footer_link" href="https://linkedin.com/"> https://linkedin.com/</a>
      </div>
      <!-- Facebook -->
      <div class="text-center p-3">
        <a class="icon-facebook" href="https://facebook.com/"></a><span class="footer_text"> Facebook: </span>
        <a class="text-dark footer_link" href="https://facebook.com/"> https://facebook.com/</a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</div>