<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
          aria-expanded="false" (click)="dropdownVisible = !dropdownVisible" (clickOutside)="dropdownVisible = false">
          {{ 'HOME.LANGUAGE' | translate }}
        </a>
        <ul class="dropdown-menu" [ngClass]="{'dropdownHide': !dropdownVisible}"
          aria-labelledby="navbarDropdownMenuLink">
          <li *ngFor="let language of languages">
            <a id="{{language}}" class="dropdown-item" (click)="changeLanguage(language)">
              {{'button.lang.' + language | translate}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<h1>{{ 'HOME.TITLE' | translate }}</h1>

<div> <span>{{ 'HOME.INPUT' | translate }}</span> <input type="text" (change)="onChange($event)"></div>
<p>{{ 'HOME.SUBTITLE' | translate: {name: title} }}</p>